<form #userForm="ngForm"   (ngSubmit)="onSubmit(userForm.value)"  style="width: 800px; height: 800px; margin-left: 80px; margin-top:10px">



  {{userForm.value | json}}
 {{userForm.invalid}}

  <div class="form-group mb-2 mt-2">
    <label for="Inputname">Name</label>
    <input  #iname="ngModel"  id="Inputname"  required  appValidator type="text" [class.is-invalid]="iname.touched && iname.invalid" class="form-control"  name="InputName" placeholder="Enter name" ngModel  >
    <small class="text-danger"   *ngIf="iname.touched && iname.errors?.required">please enter your name</small>
    <small class="text-danger"   *ngIf="iname.errors?.forbiddenname">{{iname.errors?.forbiddenname.value}} this is not allowed use another name</small>
  </div>

  <div class="form-group mb-2">
    <label for="InputEmail1">Email address</label>
    <input type="email"  class="form-control " name="InputEmail1" id="InputEmail1" placeholder="Enter email" ngModel>
  </div>

  <div class="form-group mb-2">
    <label for="inputTelephone"> Enter TelePhone</label>
    <input type="tel" class="form-control" name="InputTelephone" id="inputTelephone" placeholder="Telephone" ngModel>
  </div>



  <div  ngModelGroup="sports" #fvsp="ngModelGroup">

  <div class="mb-2 mt-2">
    Favourate sport:
  </div>
  <div class="form-check ">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  name="spradio1" value="cricket" ngModel>
    <label class="form-check-label" for="inlineCheckbox1">cricket</label>
  </div>
  <div class="form-check ">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="spradio2" value="football" ngModel>
    <label class="form-check-label" for="inlineCheckbox2">football</label>
  </div>

</div>

  <div class="mt-2">
    Gender:&nbsp;
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" ngModel>
    <label class="form-check-label" for="inlineRadio1">male</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female" ngModel>
    <label class="form-check-label" for="inlineRadio2">female</label>
  </div>
    
  <br>
  Enter Transport

   <div class="'form-group">
  <select #tran="ngModel"   (blur)= "validate(tran.value)" (change)="validate(tran.value)" name="tran" ngModel>  
    <option    value="" disabled selected  required> Enter Transport</option>
    <option *ngFor="let tr of transportation" selected>{{tr}}</option>
    
  </select>
  <small class="text-danger" [class.d-none]="!check">Please select other option </small>
   </div>

  <div class="mt-2">
    <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid">Submit</button>

  </div>

</form>

